<!DOCTYPE html>
<html ng-app="todoList" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="//use.edgefonts.net/aclonica;advent-pro.js"></script>

    <title>To-Do List</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body ng-controller="todoListController as todoList">
    <div id="header">
        <h1>{{name | uppercase}}</h1>
        <hr>
    </div>
    <div>
        <form ng-submit="addItem()" name="form">
            <input ng-model="newItem" type="text" placeholder="Add a task here..." id="input" required>
            <input type="submit" value="Add task" class="button">
        </form>
        <form>
            <ul>
                <li ng-repeat="item in items">
                    <input ng-model="item.done" type="checkbox" id="checkbox"><span ng-class="{'done':item.done}">{{item.title}}</span>
                    <input ng-click="deleteItem($index)" type="submit" value="X" class="button" id="delBtn">
                </li>
                <input ng-click="clearCompleted()" type="submit" value="Clear completed tasks" class="button">
            </ul>
        </form>
    </div>

    <script src="js/main.js"></script>

</body>

</html>